stages:
  - sync

sync:
  stage: sync
  variables:
    # Skip host key verification prompt
    GIT_SSH_COMMAND: "ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
    GIT_AUTHOR_NAME: "Innovation Upstream CI Bot"
    GIT_AUTHOR_EMAIL: "zach+ci@innovationupstream.com"
    GIT_COMMITTER_NAME: "Innovation Upstream CI Bot"
    GIT_COMMITTER_EMAIL: "zach+ci@innovationupstream.com"
    GIT_STRATEGY: clone
  image:
    name: nixos/nix:2.3.12
  before_script:
    - nix-channel --update
    - nix-env -iA nixpkgs.git nixpkgs.openssh
    - \[ -d ~/.ssh \] || mkdir ~/.ssh
    - |-
      cat <<EOT >> ~/.ssh/config
      Host github.com-apeswap
        Hostname github.com
        IdentityFile=$APESWAP_SSH_KEY_PRIVATE
      Host gitlab-iu
        Hostname gitlab.innovationup.stream
        IdentityFile=$APESWAP_SSH_KEY_PRIVATE
      EOT
    - chmod 0600 $APESWAP_SSH_KEY_PRIVATE
    - git config pull.rebase false
    - git config pull.ff false
  script:
    - export LAST_COMMIT_MAIN_DOWNSTREAM=$(git log origin/main -n 1 --pretty=format:"%H" || echo "000000")
    - git remote add origin-upstream git@github.com-apeswap:ApeSwapFinance/apeswap-uikit.git
    - git remote set-url origin git@gitlab-iu:apeswap/apeswap-uikit.git
    - git fetch origin-upstream
    - git checkout origin-upstream/main
    - export LAST_COMMIT_UPSTREAM_MAIN=$(git log -n 1 --pretty=format:"%H")
    - export NEW_DOWNSTREAM_BRANCH="main-$LAST_COMMIT_UPSTREAM_MAIN"
    - git checkout -b $NEW_DOWNSTREAM_BRANCH
    - \[ "$LAST_COMMIT_UPSTREAM_MAIN" = "$LAST_COMMIT_MAIN_DOWNSTREAM" \] || git push -u origin $NEW_DOWNSTREAM_BRANCH -o merge_request.create -o merge_request.target=main
  rules:
    - if: '($CI_PIPELINE_SOURCE == "schedule" && $JOB_TYPE == "sync")'
      when: on_success
